@charset "ISO-8859-1";

#g{
	color: aqua;
	font-size: 20;
}
#k{
	color: red;
	font-style: italic;
}
button{
	font-weight: bold;
	background-color: grey;
	
	color: white;
	font-size: 20;
}
.underline{
	text-decoration: underline;
}
.interact:hover{
	border-color: red;
	border-style: dotted;
	display: block;
	width: 65px;
}
form{
	width: 166px;
}