<!-- https://www.mediaevent.de/html/html5-tags.html -->
<head>
<link rel="stylesheet" href="index.css" />
</head>
<body>
<em><strong>Hallo Welt</strong></em>
<h1>Hallo Welt</h1>
<table>
<caption>Tabelle</caption>
<tr>
<th>Zeile 1 |</th>
<td>1</td><th>|</th>
<td>2</td>
<tr>
<tr>
<th>Zeile 2 |</th>
<td>3</td><th>|</th>
<td>4</td>
</tr>
</table>
<!-- <a href="into.html">into.html </a> -->
<form action="into.html">
<fieldset>
<label for="freitext">Freitext: </label>
	<textarea id="freitext" name="freitext"></textarea><br><br>
	<label for="date">Datum: </label>
	<input type="date" id="date" name="date" value=""><br><br>
	<fieldset>
	<label for="radio1">Knopf 1 </label>
	<input type="radio" id="radio1" name="radio"><br>
	<label for="radio2">Knopf 2 </label>
	<input type="radio" id="radio2" name="radio"><br>
	<label for="check">Knopf 3 </label>
	<input type="checkbox" id="check" name="checkbox"><br>
	</fieldset><br>
<label for="selectN">Einfache Auswahl:<br> </label>
<select id="selectN" name="selectN">
<option>Option 1</option>
<option>Option 2</option>
<option>Option 3</option>
</select><br><br>
<label for="selectM">Mehrfache Auswahl:<br> </label>
<select id="selectM" multiple="multiple" size="3" name="selectM">
<option>Option 1</option><option>Option 2</option><option>Option 3</option>
</select><br><br>
<button type="submit" id="tointo">
<span>Zu Into.html</span>
</button>
</fieldset>
</form>
<span id="g">Größe</span><br>
<span id="k">Kursiv</span><br>
<span class="underline">Unterstreichen</span><br><br>
<span class="interact">Interaktiv</span><br>
</body>