<!-- <a href="index.html">index.html </a> -->
<form action="index.html">
	<fieldset>
	<button type="submit"id="toindex">
   <span>Zu Index.html</span>
</button><br><br>
<label for="freitext">Freitext: </label>
	<textarea id="freitext" name="freitext"></textarea><br><br>
	<label for="date">Datum: </label>
	<input type="date" id="date" name="date" value=""><br><br>
	<label for="radio1">Knopf 1 </label>
	<input type="radio" id="radio1" name="radio"><br><br>
	<label for="radio2">Knopf 2 </label>
	<input type="radio" id="radio2" name="radio"><br><br>
	<label for="check">Knopf 3 </label>
	<input type="checkbox" id="check" name="checkbox"><br><br>
</fieldset>
<fieldset>
<label for="selectN">Einfache Auswahl:<br> </label>
<select id="selectN" name="selectN">
<option>Option 1</option>
<option>Option 2</option>
<option>Option 3</option>
</select><br><br>
<label for="selectM">Mehrfache Auswahl:<br> </label>
<select id="selectM" multiple="multiple" size="3" name="selectM">
<option>Option 1</option><option>Option 2</option><option>Option 3</option>
</select>
</fieldset>
</form>